<div id="buscar">
  <form>
    <div class="form-group">
      <label>Código do Endereço</label>
      <p class="form-control" id="cod_endereco"></p>
    </div>
    <div class="form-group">
      <label>Nome</label>
      <p class="form-control" id="nome_endereco"></p>
    </div>
    <div class="form-group">
      <label>Produto</label>
      <p class="form-control" id="produto_endereco"></p>
    </div>
    <div class="form-group">
      <label>Rua</label>
      <p class="form-control" id="rua_endereco"></p>
    </div>
    <div class="form-group">
      <label>Número</label>
      <p class="form-control" id="numero_endereco"></p>
    </div>
    <div class="form-group">
      <label>Bairro</label>
      <p class="form-control" id="bairro_endereco"></p>
    </div>
    <div class="form-group">
      <label>Cidade</label>
      <p class="form-control" id="cidade_endereco"></p>
    </div>
    <div class="form-group">
      <label>UF</label>
      <p class="form-control" id="uf_endereco"></p>
    </div>
    <div class="form-group">
      <label>CEP</label>
      <p class="form-control" id="cep_endereco"></p>
    </div>

  </form>
</div>